// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$charlesriverblue: #091F2F;
$optimisticblue: #288BE4;
$freedomtrailred: rgb(251,77,66);

.form-item {
  margin-bottom: 35px;
}

.block-label, .label-radio {
  display: block;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 116.666666667%;
  color: $charlesriverblue;
  margin-bottom: 5px;
  font-weight: 300;
  vertical-align: middle;
}

.form-text {
  color: #091f2f;
  border: 3px solid #091f2f;
  padding: 5px 15px;
  font-family: "Lora", serif;
  font-size: 150%;
  font-style: normal;
  font-variant-caps: normal;
  font-weight: normal;
  line-height: 2.22222222;

  @media (max-width: 800px) {
    width: 75%;
  }
}

.label-radio {
  font-size: 120%;
  padding: 10px 0;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;

  input {
    display: none;

    & + .outer {
      height: 30px;
      width: 30px;
      background-color: white;
      margin-right: 10px;
      border-radius: 50%;
      border: 2px solid rgb(207,207,207);
      position: relative;
    }
  }

  input:checked {
    & + .outer {
      border-color: $charlesriverblue;

      .inner {
        border-radius: 50%;
        position: absolute;
        height: 70%;
        width: 70%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border: 2px solid $charlesriverblue;
        background-color: $optimisticblue;
      }
    }
  }
}
